body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-cotainer {
    width: 800px;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 1rem;
}

.heading {
    text-align: center;
    font-size: 3rem;
    background: #B8E1FC;
    background: radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.text-field {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 15px 0;
    border: 2px solid #a18cd1;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #a18cd1;
    cursor: pointer;
}

.result-text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #8170a7;

}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5rem;

}

.btn {
    background: linear-gradient(45deg, #a18cd1, #fbc2eb);
            border: none;
            width: 150px;
            height: 8vh;
            color: white;
            padding: 10px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: linear-gradient(45deg, #fbc2eb, #a18cd1);
}